<header class="bg-warning p-1">
 <h1 class="text-white">{{titulo}}</h1>
</header>

<main class="container">

    <section class="row my-5 justify-content-center">

        <article class="card col-lg-10 px-0 shadow">

            <div class="card-header">
                <h3 class="mb-0">Agregar Persona al Listado</h3>
            </div>

            <div class="card-body">

                <form class="row">

                    <div class="col-md-6 col-lg-4">
                        <input type="text" class="form-control shadow-sm mb-2" [(ngModel)]="nombreInput" placeholder="Ingresar Nombre" id="nombre" name="nombre">
                    </div>

                    <div class="col-md-6 col-lg-5">
                        <input type="text" class="form-control shadow-sm mb-2" [(ngModel)]="apellidosInput" placeholder="Ingresar Apellidos" id="apellido" name="apellido">
                    </div>

                    <div class="col-lg-3 mt-3 mt-lg-0">   
                        <button type="submit" (click)="agregarPersona()" class="btn btn-primary fw-semibold shadow-sm">Agregar Persona</button>
                    </div>

                </form>

            </div>

        </article>

        <app-persona *ngFor="let personaElemento of personas; let i = index" [persona] = "personaElemento"
        [indice] = "i">
        </app-persona>

    </section>
    
</main>