<header class="bg-warning p-1">
 <h1 class="text-white">{{titulo}}</h1>
</header>

<main class="container">

    <section class="row my-5 justify-content-center">

        <app-formulario></app-formulario>

        <article class="card col-lg-10 px-0 shadow mt-4">

            <div class="card-header fw-semibold fs-5">
              {{titulo}}
            </div>

            <ul class="list-group list-group-flush fw-semibold">
                <app-persona *ngFor="let personaElemento of personas; let i = index" [persona] = "personaElemento"
                [indice] = "i">
                </app-persona>
            </ul>

        </article>

    </section>
    
</main>